/* Estilo padrão para todo o projeto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header .navbar {
    /* Configura o elemento "Buscar" para utilizar o modelo de layout "Flexbox" - Lado a lado */
    display: flex;
    /* Distribui os elementos filhos "Buscar" igualmente espaçados horizontalmente no container - Espaçamento no buscar para o final*/
    justify-content: space-between;
    /* Alinha os elementos filhos "Buscar" verticalmente ao centro do container */
    align-items: center;
    background-color: #333;
    /* Aplica um preenchimento em todos os lados do elemento - Margens */
    padding: 20px;
}

.logo-container {
    /* Configura o elemento "Título" para utilizar o modelo de layout "Flexbox" - Lado a lado */
    display: flex;
    /* Alinha os elementos filhos "Título" verticalmente ao centro do container */
    align-items: center;
}

.logo-container h1 {
    /* Define o tamanho da fonte do elemento "h1" */
    font-size: 20px;
    /* Aplica uma margem à esquerda do elemento "h1" */
    margin-left: 10px;
    /* Define a cor do texto do elemento "h1" */
    color: #fff;
}

.logo {
    /* Define a altura do elemento com a classe "logo" */
    height: 50px;
}

footer {
    background-color: #333;
    /* Aplica um preenchimento em todos os lados do elemento "footer" */
    padding: 10px;
    /* Alinha o conteúdo do elemento "footer" ao centro horizontalmente */
    text-align: center;
    /* Define a cor do texto do elemento "footer" */
    color: #fff;
}