/* Estilo padrão para todo o projeto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header .navbar {
    /* Configura o elemento para utilizar o modelo de layout "Flexbox" */
    display: flex;
    /* Distribui os elementos filhos igualmente espaçados horizontalmente no container */
    justify-content: space-between;
    /* Alinha os elementos filhos verticalmente ao centro do container */
    align-items: center;
    /* Define a cor de fundo do elemento */
    background-color: #333;
    /* Aplica um preenchimento em todos os lados do elemento */
    padding: 20px;
}

.logo-container {
    /* Configura o elemento para utilizar o modelo de layout "Flexbox" */
    display: flex;
    /* Alinha os elementos filhos verticalmente ao centro do container */
    align-items: center;
}

.logo-container h1 {
    /* Define o tamanho da fonte do elemento "h1" */
    font-size: 20px;
    /* Aplica uma margem à esquerda do elemento "h1" */
    margin-left: 10px;
    /* Define a cor do texto do elemento "h1" */
    color: #fff;
}

.logo {
    /* Define a altura do elemento com a classe "logo" */
    height: 50px;
}