/* Estilo padrão para todo o projeto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header .navbar {
    /* Configura o elemento "Buscar" para utilizar o modelo de layout "Flexbox" - Lado a lado */
    display: flex;
    /* Distribui os elementos filhos "Buscar" igualmente espaçados horizontalmente no container - Espaçamento no buscar para o final*/
    justify-content: space-between;
    /* Alinha os elementos filhos "Buscar" verticalmente ao centro do container */
    align-items: center;
    background-color: #333;
    /* Aplica um preenchimento em todos os lados do elemento - Margens */
    padding: 20px;
}

.logo-container {
    /* Configura o elemento "Título" para utilizar o modelo de layout "Flexbox" - Lado a lado */
    display: flex;
    /* Alinha os elementos filhos "Título" verticalmente ao centro do container */
    align-items: center;
}

.logo-container h1 {
    /* Define o tamanho da fonte do elemento "h1" */
    font-size: 20px;
    /* Aplica uma margem à esquerda do elemento "h1" */
    margin-left: 10px;
    /* Define a cor do texto do elemento "h1" */
    color: #fff;
}

.logo {
    /* Define a altura do elemento com a classe "logo" */
    height: 50px;
}

.search-container {
    /* Define a propriedade display do elemento como flex, permitindo que sejam organizados em uma linha flexível */
    display: flex;
}

.search {
    /* Aplica um espaço interno ao elemento */
    padding: 5px;
    /* Define o tamanho da fonte do texto */
    font-size: 14px;
    /* Aplica borda, criando bordas arredondadas no elemento */
    border-radius: 5px;
    /* Define a borda do elemento com espessura, estilo sólido */
    border: 1px solid #ccc;
}

.banner {
    /* Define a propriedade display do elemento como flex, permitindo que sejam organizados em uma linha flexível */
    display: flex;
    /* Alinha os itens horizontalmente no centro do elemento */
    justify-content: center;
    /* Alinha os itens verticalmente no centro do elemento */
    align-items: center;
    /* Centraliza o texto dentro do elemento */
    text-align: center;
    /* Esconde o conteúdo que ultrapassa os limites do elemento */
    overflow: hidden;
}

.banner img {
    /* Reduz a largura da imagem para 80% do espaço disponível */
    width: 80%;
    /* Reduz a altura da imagem para 300 pixels */
    height: 300px;
}

.cards-container {
    /* Configura o elemento para utilizar o modelo de layout "Grid" */
    display: grid;
    /* Define as colunas do grid para se ajustarem automaticamente ao espaço disponível e terem no mínimo 200px e no máximo 1 fração do espaço disponível */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Define o espaço entre os elementos do grid (linhas e colunas) */
    gap: 10px;
    /* Aplica um preenchimento em todos os lados do elemento */
    padding: 20px;
}

.card {
    background-color: #fff;
    /* Arredonda os cantos do elemento "card" */
    border-radius: 10px;
    /* Aplica um preenchimento em todos os lados do elemento "card" */
    padding: 10px;
    /* Aplica múltiplas sombras ao elemento "card" para criar um efeito de profundidade */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card h3 {
    /* Aplica uma margem inferior ao elemento "h3" dentro de um "card" - Entre o título e imagem */
    margin-bottom: 10px;
    /* Centraliza o texto dentro do elemento */
    text-align: center;
    /* Aplica uma margem no "h3" */
    margin: 3px;
}

.card p {
    font-size: 14px;
    font-family: Helvetica (sans-serif);
    /* Aplica uma margem no "P" */
    margin: 3px;
}

.card img {
    width: 100%;
}

.card:hover {
    /* Aumenta a escala do elemento "card" quando o mouse passa por cima */
    transform: scale(1.05);
    /* Adiciona uma transição suave para o efeito de escala */
    transition: transform 0.3s ease-in-out;
    /* Adiciona uma sombra mais escura e maior ao passar o mouse */
    box-shadow: rgba(50, 50, 93, 0.4) 0px 50px 100px -20px, rgba(0, 0, 0, 0.4) 0px 30px 60px -30px, rgba(10, 37, 64, 0.45) 0px -2px 6px 0px inset;
    /* Define o cursor como um ponteiro para indicar que o elemento é clicável */
    cursor: pointer;
}

footer {
    background-color: #333;
    /* Aplica um preenchimento em todos os lados do elemento "footer" */
    padding: 10px;
    /* Alinha o conteúdo do elemento "footer" ao centro horizontalmente */
    text-align: center;
    /* Define a cor do texto do elemento "footer" */
    height: 70px;
    color: #fff;
    /* Configura o elemento "Buscar" para utilizar o modelo de layout "Flexbox" - Lado a lado */
    display: flex;
    /* Alinha os itens horizontalmente no centro do elemento */
    justify-content: center;
    /* Alinha os itens verticalmente no centro do elemento */
    align-items: center;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .logo-container h1 {
        font-size: 18px;
    }

    .logo {
        height: 40px;
    }

    .search-container {
        width: 100%;
        margin-top: 10px;
    }

    .search {
        width: 100%;
    }

    .banner {
        display: none;
    }
}